footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #626f5f;
    color: #fff;
}

section,p {
    text-align: center;
}

h1 {
    background-color: #626f5f;
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom: 1px solid #ccc;
}
